<div [class]="container">
    <h1>Checkout</h1>
        <form (ngSubmit)="onSubmit()" #formForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" 
                    required
                    [(ngModel)]="model.name" name="name"
                    #name="ngModel">
                <div [hidden]="name.valid || name.pristine"
                    class="alert alert-danger">
                Name is required
            </div>
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" 
                    required
                    [(ngModel)]="model.address" name="address">
            </div>

            <div class="form-group">
                <label for="citystatecountry">City, State, Country</label>
                <input type="text" class="form-control" id="citystatecountry" 
                    required
                    [(ngModel)]="model.citystatecountry" name="citystatecountry">                
            </div>

            <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" class="form-control" id="zipcode" 
                       required
                       [(ngModel)]="model.zipcode" name="zipcode">
               </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" 
                    required
                    [(ngModel)]="model.phone" name="phone">
            </div>

            <div class="form-group">
                <label for="creditcard">Creditcard</label>
                <input type="text" class="form-control" id="creditcard" 
                    required
                    [(ngModel)]="model.creditcard" name="creditcard">
            </div>

            <div class="form-group">
                <label for="exp">Expiration date</label>
                <input type="text" class="form-control" id="exp" 
                    required
                    [(ngModel)]="model.exp" name="exp">
            </div>
               
            <button type="submit" class="btn btn-success"
            [disabled]="!heroForm.form.valid">Submit</button>
        </form>
</div>
