h4 {
  font-size: 4em;
  color: rgb(112, 96, 139);
  margin-bottom: 0;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: rgb(112, 96, 139);
}
nav a:hover {
  color: #7f03e5;
  background-color: rgb(211, 207, 220);
}
nav a.active {
  color: #6503e5;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1.5;
}

header, footer {
  width: 100%;
  padding: 1em;
  text-align: center;
  font-size: 2rem;
  background-color: coral;
}

.main {
  display: flex; /*establishes this is flex container*/
  height: 100%; /*setting this explicitly is important*/
  font-size: 2rem;
  flex-direction: column;
}

nav, aside {
  padding: 1em;
}

nav {
  background-color: lightblue;
}

aside {
  background-color: lightgreen;
}

.content {
  background-color: rgb(255, 255, 255);
  padding: 1em;
}

main {
  flex: 1 0 auto; /*fill the available space*/
}
footer {
  flex: 0 0 90px; /*don't grow or shrink - just stay at a height of 90px.*/
}