h4 {
  font-size: 4em;
  color: rgb(112, 96, 139);
  margin-bottom: 0;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a:visited, a:link {
  color: rgb(112, 96, 139);
}
nav a:hover {
  color: #7f03e5;
  background-color: rgb(211, 207, 220);
}
nav a.active {
  color: #6503e5;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1.5;
}

header, footer {
  width: 100%;
  padding: 1em;
  text-align: center;
  font-size: 2rem;
  background-color: coral;
}

.main {
  display: flex; /*establishes this is flex container*/
  height: 100%; /*setting this explicitly is important*/
  font-size: 2rem;
  flex-direction: column;
  flex: 1 0 auto; /*fill the available space, the code is equal to setting the 3 properties: flex-grow: 1; flex-shrink: 0; flex-basis: auto*/
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.nav {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: space-around;
  align-items: center;
}
nav, aside {
  padding: 1em;
}

nav {
  background-color: rgb(247, 235, 231);
}

aside {
  background-color: lightgreen;
  flex: 0 0 50px; /*do not grow or shrink. Stay fixed at 40px*/ 
  display: flex; /*Now a flex-container too*/
  flex-direction: column; /*stack icons vertically*/
  /*since direction is changed, this works on the vertical direction*/
  justify-content: space-around;   
  align-items: center; /*direction is changed! This affects the horizontal direction. Places Icons in the center*/
  background-color: #f2f2f2; /*make me pretty*/
}

footer {
  flex: 0 0 20px; /*don't grow or shrink - just stay at a height of 90px. GrowShrinkBasis; GSB*/
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50%;

}
