<body>
  <h1>Store Inventory</h1>
  <ul class=inventory>
    <li>
      <p><img src="assets/black.png" style="width:200px" alt="Black Mascara">Black Mascara<br>${{blkPrice}}<br>Quantity available: {{this.blkQuantity}}</p>
      <p><button (click)="addItemToCart('black')" [disabled]="blkbtnDisabled" id="add-basket">{{blkBtnText}}</button></p>
      <p><button (click)="removeItemFromCart('black')" [disabled]="blkbtnDisabled2" id="remove-basket">{{blkBtnText2}}</button></p>
    </li>
    <li>
      <p><img src="assets/green.png" style="width:200px" alt="Green Mascara">Green Mascara<br>${{grnPrice}}<br>Quantity available: {{this.grnQuantity}}</p>
      <p><button (click)="addItemToCart('green')" [disabled]="grnbtnDisabled" id="add-basket">{{grnBtnText}}</button></p>
      <p><button (click)="removeItemFromCart('green')" [disabled]="grnbtnDisabled2" id="remove-basket">{{grnBtnText2}}</button></p>
    </li>
    <li>
        <p><img src="assets/purple.png" style="width:200px" alt="Purple Mascara"><br>Purple Mascara<br>${{prpPrice}}<br>Quantity available: {{this.prpQuantity}}</p>
        <p><button (click)="addItemToCart('purple')" [disabled]="prpbtnDisabled" id="add-basket">{{prpBtnText}}</button></p>
        <p><button (click)="removeItemFromCart('purple')" [disabled]="prpbtnDisabled2" id="remove-basket">{{prpBtnText2}}</button></p>
    </li>
    <li>
        <p><img src="assets/brown.png" style="width:200px" alt="Brown Mascara"><br>Brown Mascara<br>${{brnPrice}}<br>Quantity available: {{this.brnQuantity}}</p>
        <p><button (click)="addItemToCart('brown')" [disabled]="brnbtnDisabled" id="add-basket">{{brnBtnText}}</button></p>
        <p><button (click)="removeItemFromCart('brown')" [disabled]="brnbtnDisabled2" id="remove-basket">{{brnBtnText2}}</button></p>
    </li>
  </ul>
    <p>Your basket<br>
      Total cost: ${{shoppingPrice.toFixed(2)}} <br> 
      Total number of items: {{cartBlkQuantity+cartGrnQuantity+cartPrpQuantity+cartBrnQuantity}}</p>
  </body>