<body>

    <img src="assets/black.png" class="center" style="width:200px" alt="Image"><br>
    <button (click)="addItemToCart('black')" [disabled]="blkbtnDisabled" id="add-basket">{{blkBtnText}}</button>
    <button (click)="removeItemFromCart('black')" id="remove-basket">{{blkBtnText2}}</button><br>

    <img src="assets/green.png" class="center" style="width:200px" alt="Image"><br>
    <button (click)="addItemToCart('green')" [disabled]="grnbtnDisabled" id="add-basket">{{grnBtnText}}</button>
    <button (click)="removeItemFromCart('green')" id="remove-basket">{{grnBtnText2}}</button><br>

    <img src="assets/purple.png" class="center" style="width:200px" alt="Image"><br>
    <button (click)="addItemToCart('purple')" [disabled]="prpbtnDisabled" id="add-basket">{{prpBtnText}}</button>
    <button (click)="removeItemFromCart('purple')" id="remove-basket">{{prpBtnText2}}</button><br>

    <img src="assets/brown.png" class="center" style="width:200px" alt="Image"><br>
    <button (click)="addItemToCart('brown')" [disabled]="brnbtnDisabled" id="add-basket">{{brnBtnText}}</button>
    <button (click)="removeItemFromCart('brown')" id="remove-basket">{{brnBtnText2}}</button><br>

  </body>